venv/
.venv/
__pycache__/
.DS_Store
*.pyc
Bo-Nix-Analysis/venv/
.ipynb_checkpoints/
*.html
.idea/
data/raw/
db/
logs/
*.log
target/
dbt_packages/
nfl_analytics/logs/
ml/xgb_model.json
ml/qb_cpoe_2025.csv
CLUSTER-10C-Submission/