# secrets
.env
agent/.env
backend/.env

# ADK local session state
.adk/
**/.adk/

# python
__pycache__/
*.pyc

# Venvs
venv/
.venv/

# MacOs Relevant
.DS_Store

# Bo Nix Stuff + Cluster Stuff
Bo-Nix-Analysis/
CLUSTER-10C-Submission/
.ipynb_checkpoints/

*.html
.idea/
data/raw/
db/*
!db/serving.duckdb
logs/
*.log
target/
dbt_packages/
nfl_analytics/logs/

# ml + data for ml
ml/qb_cpoe_2025.csv

# frontend
frontend/node_modules/
frontend/dist/
!frontend/index.html